<h1>Listing res_dates</h1>

<table>
  <thead>
    <tr>
      <th>Res date</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @res_dates.each do |res_date| %>
      <tr>
        <td><%= res_date.res_date %></td>
        <td><%= link_to 'Show', res_date %></td>
        <td><%= link_to 'Edit', edit_res_date_path(res_date) %></td>
        <td><%= link_to 'Destroy', res_date, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Res date', new_res_date_path %>
